@import "variables";

// Utility Classes

.container {
  padding: 0px;
}

.box {
  float: none;
  width: 100%;
}

.social-box {
  margin-bottom: 30px;
  opacity: 0.8;

  img {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

// Navbar

#navbar {
  h1 {
    float: none;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
  }

  ul {
    float: none;

    li {
      float: none;
    }

    a {
      display: block;
      padding: 10px;
      text-align: center;
    }

    a.current {
      width: 100%;
    }
  }
}

// Showcase

#showcase {
  height: 600px;
  padding-top: 80px;

  h1 {
    line-height: 4rem;
  }
}

// Home

#home {
  height: 400px;
  background: $dark-color;
}

.home-image {
  float: none;
  width: 100%;
  min-height: 100%;
}

.home-info {
  display: none;
}

// Features nem precisou mudar

// About

.about {
  padding: 30px;

  .about-info {
    float: none;
    width: 100%;
    text-align: justify;

    h2 {
      text-align: center;
      font-size: 36px;
      padding-bottom: 25px;
      line-height: 2rem;
    }
  }

  .about-img {
    float: none;
    width: 100%;

    img {
      margin-top: 10px;
    }
  }
}

// Social Proof

.social-proof {
  padding-top: 60px;
}

// Contact Us

.contact {
  padding: 30px;
  text-align: center;
  h1 {
    font-size: 36px;
    margin-bottom: 15px;
  }
}

// Contact Info

.contact-info {
  .box {
    border: 1px solid #444;
  }
}
